@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome to</h3>
        <h1> AGUAS EWallet ATM!</h1>
        <br>
    <p>Click on <a asp-controller="ATM" asp-action="Index">Account Management</a> to Start!</p>
    <p>Funny <a asp-controller="ATM" asp-action="Joke">here</a>!</p>

</div>
