@model HUB.Models.EWallet

@{
    ViewData["Title"] = "Edit EWallet";
}

<h1>Edit EWallet</h1>

<div>
    <h4>EWallet Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="EWPin" class="control-label"></label>
                    <input asp-for="EWPin" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Money" class="control-label"></label>
                    <input asp-for="Money" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" required /> <!-- Added email field -->
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
