@model string

@{
    ViewData["Title"] = "Random Joke";
}

<div class="text-center">
    <h3>heres the funny:</h3>
    <p>@Model</p>
    <p>like and subscribe for more early 2010s type jokes lol lmao rofl</p>
    <br>
    <p>Click <a asp-controller="Home" asp-action="Index">Home</a> to return to home.</p>
</div>
